
<div class= "background mt-5">
    <div class= "row">
        <h1> 
            Projectos Realizados
        </h1>
    </div>
        <div class= "contenedor mt-5">
            <div class="row">
                <div class= "col-4">
                    <div class= "maqueta cardcustom">
                        <div class="card"><div class="thumbnail"><%= image_tag "imagen1.png", class: "card-img-top", alt: "Meet and Coffe Web" %></div></div>
                        <div class="card-body">
                            <h5 class="card-title">Meet and coffe</h5>
                            <p class="card-text">Web meet and coffe <br> with HTML5,<br> css3 y bootstrap5.</p>
                            <a href="https://djmb812.github.io/PruebaViajesChile/" id= "boton" class="btn">Ver mas</a>
                        </div>
                    </div>
                </div>
                <div class= "col-4">
                    <div class= "maqueta cardcustom">
                        <div class="card">
                                <div class="card"><div class="thumbnail"><%= image_tag "imagen2.png", class: "card-img-top", alt: "Iguana web" %></div></div>
                            <div class="card-body">
                                <h5 class="card-title">Iguana page</h5>
                                <p class="card-text">Web iguana page with HTML5, css3.</p>
                                <a href="#" id= "boton" class="btn">Ver mas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class= "col-4">
                    <div class= "maqueta cardcustom">
                        <div class="card">
                                <div class="card"><div class="thumbnail"><%= image_tag "imagen1.png", class: "card-img-top", alt: "Viajes Chile web" %></div></div>
                            <div class="card-body">
                                <h5 class="card-title">Viajes Chile</h5>
                                <p class="card-text">Web HTML5, css3 (solo este tiene link activo).</p>
                                <a href="https://djmb812.github.io/PruebaViajesChile/" id= "boton" class="btn">Ver mas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>